<div class="container col-md-10 bg-white shadow shadow-lg p-4 rounded border-left-primary border-right-primary">
    <div class="col-md-12  m-auto rounded">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item col-md-6" role="presentation">
                <a class="nav-link col-md-12" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                    <i class="fas fa-users"></i> Usuarios
                </a>
            </li>
            <li class="nav-item col-md-6" role="presentation">
                <a class="nav-link active col-md-12" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                    <i class="fas fa-user-shield"></i> Perfiles
                </a>
            </li>
        </ul>
        <div class="tab-content rounded font-labels" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                <table class="table table-sm" id="tabUsers">
                    <thead>
                        <tr>
                            <th scope="col">Usuario</th>
                            <th scope="col">Perfil Id</th>
                            <th scope="col">Password</th>
                            <th scope="col">Activo</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tabusersbody">
                    </tbody>
                </table>
                <div class="col-md-12 mt-3 collapse" id="collapseUsers"></div>
            </div>
            <div class="tab-pane fade mb-4 show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="col-md-12 mt-3 d-flex justify-content-between">
                    <label class="h6">Lista de perfiles del Sistema</label>
                    <button type="button" class="btn btn-sm btn-primary btn-icon-split font-labels" data-toggle="modal" data-target="#newUserModal">
                        <span class="icon">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="text">
                            Nuevo
                        </span>
                    </button>
                </div>
                <table class="table table-sm p-4" id="tabProfiles">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Perfil</th>
                            <th scope="col">Fecha de alta</th>
                            <th scope="col">Activo</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tabprofilesbody">
                    </tbody>
                </table>
                <div class="col-md-12 mt-3 collapse row" id="collapseProfiles">
                    <label>Oscar</label>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="newUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Menús que manejara el perfil </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmProfiles" class="col-md-12 row">
                    <div class="form-group col-md-6 mx-0 pr-3">
                        <label for="perfil">Perfil</label>
                        <input type="text" class="form-control" id="perfil" name="perfil">
                    </div>
                    <div class="form-group col-md-6 mx-0 pr-3">
                        <label for="perfil">Perfil</label>
                        <input type="text" class="form-control" id="perfil" name="perfil">
                    </div>
                    <div class="col-md-12 row m-0 p-0" id="formbodyprofiles">


                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm btn-icon-split" data-dismiss="modal">
                        <span class="icon"><i class="fas fa-times"></i></span>
                        <span class="text">Cerrar</span>
                    </button>
                    <button type="button" id="btnnewperfil" onclick="carganewperfil();" class="btn btn-primary btn-sm btn-icon-split">
                        <span class="icon"><i class="fas fa-save"></i></span>
                        <span class="text">Guardar</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Catalogos/ModuloCatalogos.js?n=2"></script>
<script>
    $(function () {
        loadtabusers();
        loadtabprofiles();
        loadmainchecks();
    });
</script>