<div class="container bg-white">
    <div class="text-center">
        <h5 class="col-ico">
            <b>
                Renglones
            </b>
        </h5>
        <hr />
    </div>
    <body class="bdefault">
        <center>
            <div id="dTabCrenglones" style="margin-top:5%"> </div>
            <div style="visibility: hidden;" id="dialog">
                <div>Edit Dialog</div>
                <div style="overflow: hidden;">
                    <table style="table-layout: fixed; border-style: none;">
                        <tr>
                            <td align="right">
                                Order ID:

                            </td>
                            <td align="left">

                                <input id="orderID" type="text" disabled="disabled" />

                            </td>

                        </tr>

                        <tr>

                            <td colspan="2" align="right">

                                <br />

                                <button id="save">Save</button> <button style="margin-left: 5px;" id="cancel">Cancel</button>
                            </td>

                        </tr>
                    </table>
                </div>
            </div>
        </center>
    </body>
    <div style="margin-left:80%;margin-top:25px">
        <button type="submit" class="btn btn-primary mb-2 " id="BtNewReng" value="1"><span class="fa fa-plus-square-o mr-2"></span> Nuevo Renglón </button>
    </div>
    <div>
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="form-group row" style="margin-left:2%">
                    <label for="EmpresaNom" class="col-sm-3 col-form-label font-labels" style="">
                        Id Renglón:
                    </label>
                    <div class="col-sm-4">
                        <input placeholder="Año" maxlength="4" tvvisible="false" type="text" id="anoxml" class="form-control form-control-sm text-capitalize" />
                    </div>
                </div>
                <div class="form-group row" style="margin-left:2%">
                    <label for="anoNom" class="col-sm-3 col-form-label font-labels">
                        Nombre de Renglon:
                    </label>
                    <div class="col-sm-4">
                        <input placeholder="Año" maxlength="4" tvvisible="false" type="text" id="anoNom" class="form-control form-control-sm text-capitalize" />
                    </div>
                </div>
                <div class="form-group row" style="margin-left:2%">
                    <label for="TipoPerido" class="col-sm-3 col-form-label font-labels">
                        Empresa:
                    </label>
                    <div class="col-sm-4">
                        <select placeholder="Tipo de Periodo" tp-select="TipoPerido" class="form-control form-control-sm" id="TipodePerdioRec">
                            <option value="0">Selecciona</option>
                        </select>
                    </div>
                </div>
            </div>
            @*<div class="col-md-6">
                <div class="form-group row">
                    <label for="peridoNom" class="col-sm-2 col-form-label font-labels">
                        Perido:
                    </label>
                    <div class="col-sm-8">
                        <select placeholder="Perido" tp-select="PeridoNom" class="form-control form-control-sm" id="PeridoNom">
                            <option value="0">Selecciona</option>
                        </select>
                    </div>
                    <label for="FechaPeriodo" class="col-sm-4 col-form-label font-labels" id="FechaPeridod"></label>
                </div>
                <div class="form-group row">
                    <label for="EmpleadoNom" class="col-sm-2 col-form-label font-labels">
                        Empleados:
                    </label>
                    <div class="col-sm-8">
                        <div id='content'>
                            <input id="jqxInput" />
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</div>
<script src="~/Scripts/Catalogos/Catalogos.js"></script>
<link rel="stylesheet" href="~/Scripts/jqxGrid/jqwidgets/styles/jqx.darkblue.css" type="text/css" />
<script src="~/Scripts/jqxGrid/jqwidgets/jqxcore.js"></script>
<script type="text/javascript" src="~/Scripts/jqxGrid/jqwidgets/jqxcore.js"></script>
<script type="text/javascript" src="~/Scripts/jqxGrid/jqwidgets/jqxbuttons.js"></script>
<script type="text/javascript" src="~/Scripts/jqxGrid/jqwidgets/jqxscrollbar.js"></script>
<script type="text/javascript" src="~/Scripts/jqxGrid/jqwidgets/jqxdata.js"></script>
<script type="text/javascript" src="~/Scripts/jqxGrid/jqwidgets/jqxcheckbox.js"></script>
<script type="text/javascript" src="~/Scripts/jqxGrid/jqwidgets/jqxdatatable.js"></script>
<script type="text/javascript" src="~/Scripts/jqxGrid/jqwidgets/jqxlistbox.js"></script>
<script type="text/javascript" src="~/Scripts/jqxGrid/jqwidgets/jqxdropdownlist.js"></script>
<script type="text/javascript" src="~/Scripts/jqxGrid/jqwidgets/jqxdata.js"></script>
<script type="text/javascript" src="~/Scripts/jqxGrid/jqwidgets/jqxtooltip.js"></script>
<script type="text/javascript" src="~/Scripts/jqxGrid/jqwidgets/jqxwindow.js"></script>
<script type="text/javascript" src="~/Scripts/jqxGrid/jqwidgets/jqxnumberinput.js"></script>
<script type="text/javascript" src="~/Scripts/jqxGrid/jqwidgets/jqxinput.js"></script>
<script type="text/javascript" src="~/Scripts/jqxGrid/jqwidgets/jqxcalendar.js"></script>
<script type="text/javascript" src="~/Scripts/jqxGrid/jqwidgets/jqxdatetimeinput.js"></script>
<script type="text/javascript" src="~/Scripts/jqxGrid/jqwidgets/globalization/globalize.js"></script>