.vs/Payroll/config/applicationhost.config
.vs/Payroll/v16/.suo
.vs/Payroll/v16/Server/sqlite3/storage.ide
Payroll/bin/Payroll.dll
Payroll/bin/Payroll.pdb
Payroll/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Payroll/obj/Debug/Payroll.csproj.FileListAbsolute.txt
Payroll/obj/Debug/Payroll.csprojAssemblyReference.cache
Payroll/obj/Debug/Payroll.dll
Payroll/obj/Debug/Payroll.pdb
