
<div class="container-fluid mb-5">
    <div>

        <button type="button" data-toggle="modal" data-target="#modalLiveSearchEmpleado" class="flotante0 btn btn-primary btn-circle shadow" title="Buscar empleado" id="btn-modal-search-employee-down">
            <i class="fas fa-users"></i>
        </button>

        <button type="button" class="flotante1 btn btn-warning btn-circle shadow" title="Buscar empleado" id="btn-modal-search-changes-incidences">
            <i class="fas fa-book"></i>
        </button>

    </div>
    <div class="row">
        <div class="col-md-10 offset-1">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active font-navs" id="nav-datagen-tab" data-toggle="tab" href="#nav-bajas" role="tab" aria-controls="nav-datagen" aria-selected="true">
                        <i class="fas fa-user-times col-ico mr-ico-05"></i> Bajas
                    </a>
                    <a class="nav-item nav-link font-navs" id="nav-imss-tab" data-toggle="tab" href="#nav-redoc" role="tab" aria-controls="nav-imss" aria-selected="false">
                        <i class="fas fa-notes-medical col-ico mr-ico-05"></i> Redocumentar Prestamos y/o Seguros
                    </a>
                    <a class="nav-item nav-link font-navs" id="nav-datanom-tab" data-toggle="tab" href="#nav-inciden" role="tab" aria-controls="nav-datanom" aria-selected="false">
                        <i class="fas fa-dollar-sign col-ico mr-ico-05"></i> Incidencias en el periodo
                    </a>
                    <a class="nav-item nav-link font-navs" id="nav-estructure-tab" data-toggle="tab" href="#nav-bmasivas" role="tab" aria-controls="nav-estructure" aria-selected="false">
                        <i class="fas fa-project-diagram col-ico mr-ico-05"></i> Bajas Masivas
                    </a>
                </div>
            </nav>
            <div class="tab-content bg-white">
                <div class="tab-pane fade show active p-3" id="nav-bajas" role="tabpanel" aria-labelledby="nav-bajas-tab">
                    <div class="tab-content" id="nav-tabContent1">
                        <div class="tab-pane fade show active p-3" id="nav-bajas" role="tabpanel" aria-labelledby="nav-reporte-tab">
                            <div class="row mt-2">
                                <div id="div-most-alert-data-bajas" class="col-md-6 offset-3"></div>
                                <div class="col-md-12 mb-4">
                                    <div class="text-left">
                                        <h6 class="col-ico font-navs">
                                            <b> <i class="fas fa-clipboard-check fa-sm mr-ico-05"></i> Completa los parametros </b>
                                        </h6>
                                        <hr />
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4 d-none shadow rounded border-left-primary border-right-primary p-3" id="info-employee">
                                <div class="col-md-6">
                                    <ul class="list-group">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <span style="font-size:14px;"><i class="fas fa-id-badge mr-1 col-ico"></i> Nomina</span>
                                            <span style="font-size:11px;" class="badge bg-light text-primary font-weight-bold p-2" id="id_emp"></span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <span style="font-size:14px;"><i class="fas fa-calendar mr-1 col-ico"></i> Ultimo aumento</span>
                                            <span style="font-size:11px;" class="badge bg-light text-primary font-weight-bold p-2" id="aumento_emp"></span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <span style="font-size:14px;"><i class="fas fa-calendar mr-1 col-ico"></i> Fecha antiguedad</span>
                                            <span style="font-size:11px;" class="badge bg-light text-primary font-weight-bold p-2" id="antiguedad_emp"></span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <span style="font-size:14px;"><i class="fas fa-calendar mr-1 col-ico"></i> Fecha ingreso</span>
                                            <span style="font-size:11px;" class="badge bg-light text-primary font-weight-bold p-2" id="ingreso_emp"></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="list-group">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <span style="font-size:14px;"><i class="fas fa-money-check-alt mr-1 col-ico"></i> Sueldo mensual</span>
                                            <span style="font-size:11px;" class="badge bg-light text-primary font-weight-bold p-2" id="sueldo_emp"></span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <span style="font-size:14px;"><i class="fas fa-user-tie mr-1 col-ico"></i> Nivel empleado</span>
                                            <span style="font-size:11px;" class="badge bg-light text-primary font-weight-bold p-2" id="nivel_emp"></span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <span style="font-size:14px;"><i class="fas fa-building mr-1 col-ico"></i> Plaza & nb</span>
                                            <span style="font-size:11px;" class="badge bg-light text-primary font-weight-bold p-2" id="posicion_emp"></span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <span style="font-size:14px;"><i class="fas fa-folder mr-1 col-ico"></i> Finiquitos </span>
                                            <span class="badge bg-gradient-primary text-white font-weight-bold p-2" id="btnShowWindowDataDonw">
                                                <a href="#" data-toggle="modal" data-target="#window-data-down" class="text-white">Ver registros</a>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="frmbajas" class="shadow rounded border-left-primary border-right-primary p-3 row">
                                <div class="form-group col-md-3">
                                    <label class="col-form-label font-labels col-ico font-weight-bold" for="down-settlement">
                                        Baja con finiquito
                                    </label>
                                    <select id="down-settlement" class="form-control form-control-sm">
                                        <option value="none">Selecciona</option>
                                        <option value="1">Si</option>
                                        <option value="0">No</option>
                                    </select>
                                </div>
                                    <div class="form-group col-md-3">
                                        <input type="hidden" readonly id="keyEmployee" />
                                        <input type="hidden" readonly id="dateAntiquityEmp" />
                                        <label class="col-form-label font-labels col-ico font-weight-bold">Tipo de Baja</label>
                                        <select id="inTiposBaja" class="form-control form-control-sm">
                                            <option value="none">Selecciona</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="col-form-label font-labels col-ico font-weight-bold">Motivos de Baja</label>
                                        <select id="inMotivosBaja" class="form-control form-control-sm">
                                            <option value="">Selecciona</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="col-form-label font-labels col-ico font-weight-bold">Fecha Baja</label>
                                        <input type="date" class="form-control form-control-sm" id="dateDownEmp" />
                                    </div>
                                    <div class="form-group col-md-4 animated" id="div-content-param1">
                                        <label class="col-form-label font-labels col-ico font-weight-bold">Dias pendientes</label>
                                        <input type="number" class="form-control form-control-sm" id="daysPendings" value="0" min="0" pattern="^[0-9]+" />
                                    </div>
                                    <div class="col-md-4 form-group animated" id="div-content-param2">
                                        <label class="col-form-label font-labels col-ico font-weight-bold">Fecha a usar</label>
                                        <select class="form-control form-control-sm" id="dateSendDown">
                                            <option value="none">Selecciona</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 form-group animated" id="div-content-param3">
                                        <label class="col-form-label font-labels col-ico font-weight-bold">Con compensacion especial</label>
                                        <select class="form-control form-control-sm" id="compSendEsp">
                                            <option value="none" selected>Selecciona</option>
                                            <option value="0">No</option>
                                            <option value="1">Si</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 text-center offset-4 mb-2 mt-3">
                                        <button type="button" class="btn btn-primary btn-sm btn-icon-split" id="btnGuardaBaja">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-check"></i>
                                            </span>
                                            <span class="text">Guardar</span>
                                        </button>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="nav-redoc" role="tabpanel" aria-labelledby="profile-tab">
                    r
                </div>
                <div class="tab-pane" id="nav-inciden" role="tabpanel" aria-labelledby="messages-tab">
                    i
                </div>
                <div class="tab-pane" id="nav-bmasivas" role="tabpanel" aria-labelledby="settings-tab">
                    m
                </div>
            </div>
        </div>
    </div>
</div>




@* MODAL DE LIVE SEARCH EMPLEADO *@
<!-- Modal -->
<div class="modal fade" id="modalLiveSearchEmpleado" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-labels" id="staticBackdropLabel">Busca el empleado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="search-box col-md-12">
                        <label for="inputSearchEmpleados" class="font-labels">Escribe el nombre del empleado que buscas</label>
                        <input type="text" name="inputSearchEmpleados" id="inputSearchEmpleados" placeholder="Escriba el nombre del empleado" class=" form-control" autocomplete="off" />
                        <div id="resultSearchEmpleados" name="resultSearchEmpleados" class="list-group"></div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-3 pb-3">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- VENTANA MODAL QUE MUESTRA LA INFORMACION DE LOS FINIQUITOS -->
<div class="modal fade" id="window-data-down" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content border-left-primary">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"> <i class="fas fa-file-alt col-ico mr-2"></i>Propuestas Finiquitos </h5>
                <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-group" id="list-data-down">
                </ul>
                <div class="row" id="no-data-info"></div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger btn-sm btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-times"></i>
                    </span>
                    <span class="text">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- VENTANA MODAL QUE MUESTRA EL DETALLE DEL FINIQUITO -->
<div class="modal fade" id="settlement-details" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content border-left-primary">
            <div class="modal-header">
                <h6 class="modal-title" id="headerSettlement"> <i class="fas fa-tag col-ico mr-2"></i><span id="typeSettlement" class="text-danger"></span> <span class="badge badge-danger shadow p-2" id="typeDown"></span>  </h6>
                <button type="button" class="close text-danger" id="icoCloseSettlementSelect" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" id="div-details"></div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger btn-sm btn-icon-split" id="btnCloseSettlementSelect">
                    <span class="icon text-white-50">
                        <i class="fas fa-times"></i>
                    </span>
                    <span class="text">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/main/BajasEmpleados.js?n=1"></script>