
<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-sm-10 offset-1">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">

                    <a class="nav-item nav-link active font-navs" id="nav-dispersion-tab" data-toggle="tab" href="#nav-dispersion" role="tab" aria-controls="nav-dispersion" aria-selected="true">
                        <i class="fas fa-book mr-2"></i> Dispersiones
                    </a>
                    <a class="nav-item nav-link font-navs" id="nav-dispersion-especial-tab" data-toggle="tab" href="#nav-dispersion-especial" role="tab" aria-controls="nav-dispersion-especial" aria-selected="true">
                        <i class="fas fa-book mr-2"></i> Dispersion especial
                    </a>
                    <a class="nav-item nav-link font-navs" id="nav-config-data-bank-tab" data-toggle="tab" href="#nav-config-data-bank" role="tab" aria-controls="nav-config-data-bank" aria-selected="true">
                        <i class="fas fa-cogs mr-2"></i> Configuracion datos bancarios
                    </a>

                </div>
            </nav>
            <div class="tab-content bg-white" id="nav-tabContent">
                <div class="tab-pane fade show active p-3" id="nav-dispersion" role="tabpanel" aria-labelledby="nav-empleado-tab">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active p-3" id="nav-dispersion" role="tabpanel" aria-labelledby="nav-dispersion-tab">
                            <div class="row mt-2 shadow border-left-primary border-right-primary p-3 rounded">
                                <div id="div-most-alert-data-gen" class="col-md-6 offset-3"></div>
                                <div class="col-md-12 mb-4">
                                    <div class="mb-4 p-2 border-bottom-primary rounded">
                                        <h6 class="text-center text-primary font-weight-bold">Bancos disponibles para dispersión</h6>
                                        <hr />
                                        <div class="row mt-4 mb-4">
                                            <div class="col-md-5 p-2 shadow rounded text-center">
                                                <h6 class="text-center font-weight-bold text-success">
                                                    <i class="fas fa-money-bill-wave mr-2"></i> Nomina
                                                </h6>
                                                <hr />
                                                <span class="badge text-white p-2" style="background-color:#012573;">[ 02 ] Banamex</span>
                                                <span class="badge text-white p-2" style="background-color:#065197;">[ 12 ] Bancomer</span>
                                                <span class="badge text-white p-2" style="background-color:#E50000;">[ 14 ] Santander</span>
                                                <span class="badge text-white p-2 mt-3" style="background-color:#D40010;">[ 21 ] HSBC</span>
                                                <span class="badge text-white p-2 mt-3" style="background-color:#7A0202;">[ 72 ] Banorte</span>
                                                @*<ul class="list-group list-group-flush">
                                                        <li class="list-group-item" style="color: #012573;"><b>[ 02 ] Banamex</b></li>
                                                        <li class="list-group-item" style="color: #065197;"><b>[ 12 ] Bancomer</b></li>
                                                        <li class="list-group-item" style="color: #E50000;"><b>[ 14 ] Santander</b></li>
                                                        <li class="list-group-item" style="color: #D40010" ;><b>[ 21 ] HSBC</b></li>
                                                        <li class="list-group-item" style="color: #7A0202;"><b>[ 72 ] Banorte</b></li>
                                                    </ul>*@
                                            </div>
                                            <div class="col-md-5 offset-2 p-2 shadow rounded text-center">
                                                <h6 class="text-center font-weight-bold text-success">
                                                    <i class="fas fa-money-check-alt mr-2"></i> Interbancarios
                                                </h6>
                                                <hr />
                                                <span class="badge text-white p-2" style="background-color:#E50000;">[ 14 ] Santander</span>
                                                <span class="badge text-white p-2" style="background-color:#E73223;">[ 44 ] ScotiaBank</span>
                                                <span class="badge text-white p-2" style="background-color:#7A0202;">[ 72 ] Banorte</span>
                                                @*<ul class="list-group list-group-flush">
                                                        <li class="list-group-item" style="color: #E50000;"><b>[ 14 ] Santander</b></li>
                                                        <li class="list-group-item" style="color: #E73223;"><b>[ 44 ] ScotiaBank</b></li>
                                                        <li class="list-group-item" style="color: #7A0202;"><b>[ 72 ] Banorte</b></li>
                                                    </ul>*@
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="text-left">
                                        <h6 class="col-ico font-navs">
                                            <b> <i class="fas fa-clipboard-check fa-sm mr-ico-05"></i>  Completa los parametros </b>
                                        </h6>
                                        <hr />
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group text-center rounded shadow">
                                        <label class="col-form-label" style="font-size: 14px;">
                                            <i class="fas fa-pallet mr-2 col-ico"></i>
                                            Tipo periodo: <span id="typeperactnomemp" class="font-weight-bold"></span>
                                        </label>
                                        <label class="col-form-label ml-2" style="font-size: 14px;">
                                            <i class="fas fa-pager mr-2 col-ico"></i>
                                            Periodo: <span id="peractnomemp" class="font-weight-bold"></span>
                                        </label>
                                        <label class="col-form-label ml-2" style="font-size: 14px;">
                                            <i class="fas fa-calendar mr-2 col-ico"></i>
                                            Fechas: <span id="fechaspernomemp" class="font-weight-bold"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-2 text-center">
                                    <div class="form-group">
                                        <button id="btn-tab-ret-nomina-employe" class="btn btn-info btn-sm rounded shadow btn-block" data-target="#tabnominaemployeret" data-toggle="modal">
                                            <i class="fas fa-users mr-2"></i> Retenidas
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-2 text-right">
                                    <div class="form-group">
                                        <button id="btn-ret-nomina-employe" class="btn btn-danger btn-sm rounded shadow btn-block" data-target="#retnominaemploye" data-toggle="modal">
                                            <i class="fas fa-user-times mr-2"></i> Retener
                                        </button>
                                    </div>
                                    <br />
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-form-label font-labels"> Año </label>
                                        <input type="text" class="form-control-sm form-control" id="yeardis" placeholder="Año" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-form-label font-labels"> Periodo </label>
                                        <input type="hidden" readonly class="form-control-sm form-control" id="typeperiod" />
                                        <input type="number" class="form-control-sm form-control" id="periodis" placeholder="Periodo" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-form-label font-labels"> Fecha </label>
                                        <input type="date" class="form-control-sm form-control" id="datedis" placeholder="Fecha" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-form-label font-labels"></label>
                                        <button id="btn-desplegar-tab" class="btn btn-primary btn-sm btn-block mt-2 rounded shadow">
                                            <i class="fas fa-play-circle mr-2"></i> Desplegar
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-10 offset-md-1 mt-3" id="container-data-deploy">
                                    <div id="alert-data-deposits" class="text-center"></div>
                                    <table class="table table-bordered table-hover table-sm shadow rounded" id="table-data-deposits">
                                    </table>
                                    <div id="container-btns-process-deposits-bank"></div>
                                    <div class="row">
                                        <div class="col-md-6 offset-3 mt-4" id="div-show-alert-loading"></div>
                                        <div class="col-md-6 mt-4">
                                            <div class="form-group" id="divbtndownzip"></div>
                                            <div class="form-group text-center" id="div-controls-int"></div>
                                        </div>
                                        <div class="col-md-6 mt-4">
                                            <div class="form-group text-center" id="div-controls"></div>
                                            <div class="form-group" id="divbtndownzipint"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade show p-3" id="nav-dispersion-especial" role="tabpanel" aria-labelledby="nav-especial-tab">

                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active p-3" id="nav-dispersion-especial" role="tabpanel" aria-labelledby="nav-dispersion-especial-tab">
                            <div class="row mt-2 shadow border-left-primary border-right-primary p-3 rounded">
                                <div id="div-most-alert-data-gen" class="col-md-6 offset-3"></div>
                                <div class="col-md-12 mb-4">
                                    <div class="text-left">
                                        <h6 class="col-ico font-navs">
                                            <b> <i class="fas fa-clipboard-check fa-sm mr-ico-05"></i>  Completa los parametros </b>
                                        </h6>
                                        <hr />
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group text-center rounded shadow">
                                        <label class="col-form-label" style="font-size: 14px;">
                                            <i class="fas fa-pallet mr-2 col-ico"></i>
                                            Tipo periodo: <span id="typeperactnomemp1" class="font-weight-bold"></span>
                                        </label>
                                        <label class="col-form-label ml-2" style="font-size: 14px;">
                                            <i class="fas fa-pager mr-2 col-ico"></i>
                                            Periodo: <span id="peractnomemp1" class="font-weight-bold"></span>
                                        </label>
                                        <label class="col-form-label ml-2" style="font-size: 14px;">
                                            <i class="fas fa-calendar mr-2 col-ico"></i>
                                            Fechas: <span id="fechaspernomemp1" class="font-weight-bold"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4 text-right">
                                    <button type="button" class="btn btn-primary btn-sm btn-icon-split" id="btn-show-group-business">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-building"></i>
                                        </span>
                                        <span class="text">Grupos empresas</span>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-sm btn-icon-split" id="btn-new-group-business">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                        <span class="text">Nuevo registro</span>
                                    </button>
                                    @*<button type="button" class="btn btn-primary btn-sm btn-icon-split" id="btn-view-banks">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-piggy-bank"></i>
                                            </span>
                                            <span class="text">Bancos</span>
                                        </button>*@
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-form-label font-labels"> Año </label>
                                        <input type="text" class="form-control-sm form-control" id="yeardis1" placeholder="Año" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-form-label font-labels"> Periodo </label>
                                        <input type="hidden" readonly class="form-control-sm form-control" id="typeperiod1" />
                                        <input type="number" class="form-control-sm form-control" id="periodis1" placeholder="Periodo" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-form-label font-labels"> Fecha </label>
                                        <input type="date" class="form-control-sm form-control" id="datedis1" placeholder="Fecha" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-form-label font-labels" for="option-group">Grupo de empresas</label>
                                        <select class="form-control form-control-sm" id="option-group">
                                            <option value="none">Selecciona</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 offset-4">
                                    <div class="form-group">
                                        <label class="col-form-label font-labels"></label>
                                        <button id="btn-desplegar-especial-tab" class="btn btn-primary btn-sm btn-block mt-2 rounded shadow">
                                            <i class="fas fa-play-circle mr-2"></i> Desplegar
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-10 offset-md-1 mt-3" id="container-data-deploy">
                                    <div id="alert-data-deposits-special" class="text-center"></div>
                                    <table class="table table-bordered table-hover table-sm shadow rounded" id="table-data-deposits-especial">
                                    </table>
                                    <div id="container-btns-process-deposits-bank-special">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 offset-3 mt-4" id="div-show-alert-loading1"></div>
                                        <div class="col-md-6 mt-4">
                                            <div class="form-group" id="divbtndownzip1"></div>
                                            <div class="form-group text-center" id="div-controls-int1"></div>
                                        </div>
                                        <div class="col-md-6 mt-4">
                                            <div class="form-group text-center" id="div-controls1"></div>
                                            <div class="form-group" id="divbtndownzipint1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade p-3" id="nav-config-data-bank" role="tabpanel" aria-labelledby="nav-config-data-bank">
                    <div class="tab-pane fade show active p-3" id="config-data-bank" role="tabpanel" aria-labelledby="config-data-bank">
                        <div class="row mt-2">
                            <div class="col-md-12 mb-4">
                                <div class="text-left">
                                    <h6 class="col-ico font-navs">
                                        <b> <i class="fas fa-cog fa-sm mr-ico-05"></i>  Configuración </b>
                                    </h6>
                                    <hr />
                                </div>
                            </div>
                            <div class="col-md-12 shadow border-left-primary border-right-primary rounded p-3">
                                <div class="text-right mb-4">
                                    <button type="button" class="btn btn-primary btn-sm btn-icon-split" id="btn-banks-new" data-target="#newBanks" data-toggle="modal">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-check-circle"></i>
                                        </span>
                                        <span class="text">Agregar nuevo</span>
                                    </button>
                                    <button type="button" class="btn btn-warning btn-sm btn-icon-split" id="btn-banks-canceled" data-target="#activeBanks" data-toggle="modal">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-times-circle"></i>
                                        </span>
                                        <span class="text">Bancos cancelados</span>
                                    </button>
                                </div>
                                <div class="table-responsive">
                                    <table class="table" id="table-test">
                                        <thead>
                                            <tr>
                                                <th>No. Banco</th>
                                                <th>Nombre Banco</th>
                                                <th>No. Cliente</th>
                                                <th>No. Cuenta</th>
                                                <th>No. Plaza</th>
                                                <th class="text-center">Valor</th>
                                                <th class="text-center">Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody id="table-data-bank"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- VENTANA MODAL QUE MUESTRA LOS EMPLEADOS CON LA NOMINA RETENIDA -->
<div class="modal fade bg-gradient" data-backdrop="static" id="tabnominaemployeret" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="searchpuestoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content border-left-primary">
            <div class="modal-header">
                <h5 class="modal-title" id="searchemployelabel"> <i class="fas fa-users mr-2 col-ico"></i> Empleados con nominas retenidas</h5>
                <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close" id="ico-close-nomrettab-btn">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table display" id="table-nom-retenidas" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Empleado</th>
                                            <th>Observacion</th>
                                            <th class="text-center">Accion</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger btn-sm btn-icon-split" id="btn-close-nomrettab-btn">
                    <span class="icon text-white-50">
                        <i class="fas fa-times"></i>
                    </span>
                    <span class="text">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- VENTANA MODAL EMPLEADOS NOMINA RETENIDA -->
<div class="modal fade bg-gradient" data-backdrop="static" id="retnominaemploye" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="searchpuestoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content border-left-primary">
            <div class="modal-header">
                <h5 class="modal-title" id="searchemployelabel"> <i class="fas fa-search mr-2 col-ico"></i> Buscar empleados</h5>
                <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close" id="ico-close-searchemployesnom-btn">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row mb-4">
                                <div class="col-md-6 text-center">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="filtroempretnom" id="filtronumbernom" value="numero" />
                                        <label class="form-check-label h6" for="filtronumberretnom"> <small>Buscar por numero de empleado.</small> </label>
                                    </div>
                                </div>
                                <div class="col-md-6 text-center">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="filtroempretnom" id="filtronamenom" value="nombre" checked />
                                        <label class="form-check-label" for="filtroname"><small>Buscar por nombre del empleado.</small></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="offset-1 col-md-10 mt-2">
                            <div class="form-group row">
                                <label for="searchemployekey" class="col-form-label col-md-5">
                                    <i class="fas fa-terminal mr-1"></i>
                                    <span id="labsearchempnom">Empleado</span>
                                </label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control form-control-sm text-uppercase" id="searchemployekeynom" placeholder="EMPLEADO" onkeypress="return check(event)" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-1 col-md-10">
                            <div class="list-group animated fadeIn modal-dialog-scrollable" id="resultemployekeynom">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger btn-sm btn-icon-split" id="btn-close-searchemployesnom-btn">
                    <span class="icon text-white-50">
                        <i class="fas fa-times"></i>
                    </span>
                    <span class="text">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- VENTANA MODAL QUE CONFIGURA LOS PARAMETROS DE LA NOMINA RETENIDA -->
<div class="modal fade bg-gradient" data-backdrop="static" id="retnominaemployeconfig" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="searchpuestoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content border-left-primary">
            <div class="modal-header">
                <h5 class="modal-title" id="searchemployelabel"> <i class="fas fa-user-times mr-2 col-ico"></i> Configuracion de nomina retenida</h5>
                <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close" id="ico-close-nomretconf-btn">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 offset-2">
                            <div class="form-group">
                                <label class="col-form-label"> Empleado a retener nomina </label>
                                <input id="nameempret" readonly class="form-control form-control-sm" type="text" />
                                <input id="clvempretn" readonly class="form-control form-control-sm" type="hidden" />
                                <input id="tipperretn" readonly class="form-control form-control-sm" type="hidden" />
                            </div>
                        </div>
                        <div class="offset-2 col-md-4">
                            <div class="form-group">
                                <label class="col-form-label font-labels">
                                    Periodo
                                </label>
                                <input id="perretnom" type="number" class="form-control form-control-sm" readonly />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label font-labels">
                                    Año
                                </label>
                                <input id="yearretnom" type="text" class="form-control form-control-sm" readonly />
                            </div>
                        </div>
                        <div class="col-md-8 offset-2">
                            <div class="form-group">
                                <label class="col-form-label font-labels">
                                    Descripcion
                                </label>
                                <textarea class="form-control form-control-sm" id="descretnom" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm btn-icon-split" id="btn-regiser-retnomina">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Guardar</span>
                </button>
                <button type="button" data-dismiss="modal" class="btn btn-danger btn-sm btn-icon-split" id="btn-close-nomretconf-btn">
                    <span class="icon text-white-50">
                        <i class="fas fa-times"></i>
                    </span>
                    <span class="text">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- VENTANA MODAL QUE CONFIGURA LOS DETALLES DE LOS BANCOS -->
<div class="modal fade bg-gradient" data-backdrop="static" data-keyboard="false" id="details-config-bank" tabindex="-1" role="dialog" aria-labelledby="searchpuestoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content border-left-primary">
            <div class="modal-header">
                <h5 class="modal-title" id="searchemployelabel"> <i class="fas fa-cog mr-2 col-ico"></i> Configuracion del banco <span id="name-bank-config"></span></h5>
                <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close" id="ico-close-config-bank">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="key-bank" readonly type="hidden" />
                                <label class="col-form-label font-labels" for="num-client-bank">No. Cliente</label>
                                <input type="number" class="form-control form-control-sm" id="num-client-bank" placeholder="Numero de cliente" />
                            </div>
                            <div class="form-group">
                                <label class="col-form-label font-labels" for="num-square-bank">No. Plaza</label>
                                <input type="number" class="form-control form-control-sm" id="num-square-bank" placeholder="Numero de plaza" />
                            </div>
                            @*<div class="form-group">
                                    <label class="col-form-label font-labels" for="num-code-bank">Código</label>
                                    <input type="number" class="form-control form-control-sm" id="num-code-bank" placeholder="Codigo" />
                                </div>*@
                            <div class="form-group">
                                <label class="col-form-label font-labels" for="num-bill-bank">No. Cuenta</label>
                                <input type="number" class="form-control form-control-sm" id="num-bill-bank" placeholder="Numero de cuenta" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label font-labels" for="num-clabe-bank">Clabe</label>
                                <input type="number" class="form-control form-control-sm" id="num-clabe-bank" placeholder="Clabe" />
                            </div>
                            <div class="form-group">
                                <label class="col-form-label font-labels" for="num-clabe-bank">Tipo</label>
                                <select class="form-control form-control-sm" id="type-dispersion-bank">
                                    <option value="0">Selecciona</option>
                                </select>
                                @*<div class="form-check mt-3">
                                        <input class="form-check-input" type="radio" name="optionbank" id="deposits-interbank" value="0">
                                        <label class="form-check-label" for="inlineRadio1">Generar depositos interbancarios</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="optionbank" id="deposits-bank" value="1">
                                        <label class="form-check-label" for="inlineRadio2">Generar interface para los depositos</label>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm btn-icon-split" id="btn-save-config-bank">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Guardar</span>
                </button>
                <button type="button" data-dismiss="modal" class="btn btn-danger btn-sm btn-icon-split" id="btn-close-config-bank">
                    <span class="icon text-white-50">
                        <i class="fas fa-times"></i>
                    </span>
                    <span class="text">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>


<!-- VENTANA MODAL GRUPOS DE EMPRESAS DISPERSION -->
<div class="modal fade bg-gradient" data-backdrop="static" id="groupBusiness" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="groupBusiness" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content border-left-primary">
            <div class="modal-header">
                <h5 class="modal-title"> <i class="fas fa-building mr-2 col-ico"></i> Grupos de empresas para dispersion</h5>
                <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close" id="ico-close-group-business">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="table-responsive animated fadeIn">
                        <table class="table table-bordered" id="dataTableSpecial" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Nombre grupo</th>
                                    <th>Accion</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Nombre grupo</th>
                                    <th>Accion</th>
                                </tr>
                            </tfoot>
                            <tbody id="data-groupbusiness">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-success btn-sm btn-icon-split" id="btn-register-group-business" data-toggle="modal" data-target="#modalNewGroup">
                    <span class="icon text-white-50">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span class="text">Crear nuevo</span>
                </button>
                <button type="button" data-dismiss="modal" class="btn btn-danger btn-sm btn-icon-split" id="btn-close-group-business">
                    <span class="icon text-white-50">
                        <i class="fas fa-times"></i>
                    </span>
                    <span class="text">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalNewGroup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> <i class="fas fa-building mr-2 col-ico"></i> Nuevo grupo de empresas </h5>
                <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close" id="ico-close-new-group-business">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 offset-2">
                        <div class="form-group">
                            <label class="col-form-label" for="name-new-group">Nombre del grupo:</label>
                            <input type="text" maxlength="50" class="form-control-sm form-control" id="name-new-group" autofocus />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm btn-icon-split" id="btn-save-new-group-business">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Guardar</span>
                </button>
                <button type="button" data-dismiss="modal" class="btn btn-danger btn-sm btn-icon-split" id="btn-close-new-group-business">
                    <span class="icon text-white-50">
                        <i class="fas fa-times"></i>
                    </span>
                    <span class="text">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalAsignGroup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> <i class="fas fa-building mr-2 col-ico"></i> Asignar empresas a grupos </h5>
                <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close" id="ico-close-asign-group-business">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 offset-2">
                        <div class="form-group">
                            <label class="col-form-label" for="select-groups">Selecciona un grupo:</label>
                            <select class="form-control form-control-sm" id="select-groups">
                                <option value="none">Selecciona</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-form-label" for="select-business">Selecciona la empresa:</label>
                            <select class="form-control form-control-sm" id="select-business">
                                <option value="none">Selecciona</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm btn-icon-split" id="btn-save-asign-group-business">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Guardar</span>
                </button>
                <button type="button" data-dismiss="modal" class="btn btn-danger btn-sm btn-icon-split" id="btn-close-asign-group-business">
                    <span class="icon text-white-50">
                        <i class="fas fa-times"></i>
                    </span>
                    <span class="text">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalViewGroupBusiness" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> <i class="fas fa-building mr-2 col-ico"></i> Empresas del Grupo <span id="namegroup"></span> </h5>
                <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close" id="ico-close-view-group-business">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" id="content-groups">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger btn-sm btn-icon-split" id="btn-close-view-group-business">
                    <span class="icon text-white-50">
                        <i class="fas fa-times"></i>
                    </span>
                    <span class="text">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal vista bancos -->
<div class="modal fade" id="viewBanks" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> <i class="fas fa-cogs mr-2"></i> <span id="name-group-business-bank"></span>  </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="ico-close-view-banks">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid" id="content-view-banks"></div>
                <hr />
                <div class="container-fluid" id="content-view-banks-int"></div>
                <hr />
                <div class="container-fluid" id="content-view-banks-nom"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" id="btn-close-view-banks">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal configuracion bancos cargados -->
<div class="modal fade" id="configBanksSelected" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Configuracion bancos interbancarios. Grupo <span class="font-weight-bold" id="nameGInt"></span>.</h5>
                <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close" id="ico-close-view-cd">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid" id="content-general-config-int">
                    <div class="row">
                        <div class="col-md-3" id="options-banks">
                            <div class="form-group p-2">
                                <label class="col-form-label" for="select-bank-option">Opción:</label>
                                <select id="select-bank-option" class="form-control form-control-sm">
                                    <option value="none">Selecciona</option>
                                    <option value="1">Ver bancos</option>
                                    <option value="2" selected>Nuevo</option>
                                    <option value="3">Datos bancarios</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3" id="banks-defined">
                            <div class="form-group p-2">
                                <label class="col-form-label" for="select-bank-int">Banco:</label>
                                <select id="select-bank-int" class="form-control form-control-sm">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3" id="banks-available"></div>
                        <div class="col-md-3" id="btn-sconfig-detail"></div>
                    </div>
                    <div class="row" id="content-details-config-banks"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger btn-sm btn-icon-split" id="btn-close-view-cd">
                    <span class="icon text-white-50">
                        <i class="fas fa-times"></i>
                    </span>
                    <span class="text">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal nuevo registro -->
<div class="modal fade" id="newBanks" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nuevo registro</h5>
                <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close" id="ico-close-view-cd">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid" id="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">
                                    Banco
                                </label>
                                <select class="form-control form-control-sm" id="bankSel">
                                    <option value="none">Selecciona</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">
                                    Numero Cliente
                                </label>
                                <input class="form-control form-control-sm" type="number" id="numberCli" />
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">
                                    Plaza
                                </label>
                                <input class="form-control form-control-sm" type="number" id="plaza" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">
                                    Numero de cuenta
                                </label>
                                <input class="form-control form-control-sm" type="number" id="numberAccount" />
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">
                                    Clabe
                                </label>
                                <input class="form-control form-control-sm" type="number" id="clabe" />
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">
                                    Tipo dispersión
                                </label>
                                <select class="form-control form-control-sm" id="typeDisp">
                                    <option value="none">Selecciona</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm btn-icon-split" id="btn-save-new-bank">
                    <span class="icon text-white-50">
                        <i class="fas fa-check-circle"></i>
                    </span>
                    <span class="text">Guardar</span>
                </button>
                <button type="button" data-dismiss="modal" class="btn btn-danger btn-sm btn-icon-split" id="btn-close-view-cd">
                    <span class="icon text-white-50">
                        <i class="fas fa-times"></i>
                    </span>
                    <span class="text">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal bancos cancelados -->
<div class="modal fade" id="activeBanks" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Activar bancos.</h5>
                <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close" id="ico-close-view-cd">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid" id="content-general-config-int">
                    <div class="row" id="content-banks-active">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger btn-sm btn-icon-split" id="btn-close-view-cd">
                    <span class="icon text-white-50">
                        <i class="fas fa-times"></i>
                    </span>
                    <span class="text">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/ferros/errajax.js"></script>
<script type="text/javascript" src="~/Scripts/main/Dispersion/main.js?v=3.0"></script>
<script type="text/javascript" src="~/Scripts/main/Dispersion/databank.js?v=0.4"></script>
<script type="text/javascript" src="~/Scripts/main/Dispersion/databankspecial.js?v=1.5"></script>
<script type="text/javascript" src="~/Scripts/main/Dispersion/mainspecial.js?v=1.3"></script>
<script type="text/javascript">
    function check(e) {
        tecla = (document.all) ? e.keyCode : e.which;
        if (tecla == 8) {
            return true;
        }
        patron = /[A-Za-z0-9 ]/;
        tecla_final = String.fromCharCode(tecla);
        return patron.test(tecla_final);
    }
</script>