@*Temas*@
<link rel="stylesheet" href="~/Scripts/jqxGrid/jqwidgets/styles/jqx.base.css" type="text/css" />
<link rel="stylesheet" href="~/Scripts/jqxGrid/jqwidgets/styles/jqx.arctic.css" type="text/css" />
<link rel="stylesheet" href="~/Scripts/jqxGrid/jqwidgets/styles/jqx.bootstrap.css" type="text/css" />

<body>
    <div class="container bg-white">
        <div class="container-fluid">
            <div class="row mt-4 border-left-primary p-3 rounded shadow border-right-primary">
                <div id="div-most-alert-data-gen" class="col-md-10 offset-2"></div>
                <div class="col-md-6">
                    <div class="text-left">
                        <h6 class="col-ico font-nav-child">
                            <b><i class="fa fa-calculator mr-ico-05"></i>Ejecucion de nomina</b>
                        </h6>
                    </div>
                </div>
                <div class="col-md-12">
                    <hr />
                </div>
                <div class="col-12">
                    <center>
                        <div class="form-group text-center rounded shadow p-4 border-left-primary border-right-primary col-md-11" id="content-tableComp">
                            <div>
                                <div class="row">
                                    <div class="tab-pane fade show p-4 row table-responsive" id="navEjecucion" role="tabpanel" aria-labelledby="nav-Ejeciciones-tab">
                                        <nav>
                                            <div class="nav nav-tabs " id="nav-tab" role="tablist">
                                                <a class="nav-item nav-link  font-navs  " id="nav-Ejecucion-tab" data-toggle="tab" href="#nav-Ejecucion" role="tab" aria-controls="nav-Ejecucion">
                                                    <i class="fas fa-bolt col-ico mr-ico-05"></i> Ejecución
                                                </a>
                                                <a class="nav-item nav-link font-navs disabled " id="nav-VisCalculo-tab" data-toggle="tab" href="#nav-VistaCalculo" role="tab" aria-controls="nav-VisCalculo" pagPre="false">
                                                    <i class="fas fa-calculator col-ico mr-ico-05 disabled"></i> Vista de calculos
                                                </a>
                                                <a class="nav-item nav-link font-navs disabled " id="nav-VisNomina-tab" data-toggle="tab" href="#nav-VistaNomina" role="tab" aria-controls="nav-VisCalculo" pagPre="false">
                                                    <i class="fas fa-calculator col-ico mr-ico-05 disabled"></i> Vista de calculos Nomina
                                                </a>
                                                <a class="nav-item nav-link font-navs " id="nav-NomCe-tab" data-toggle="tab" href="#nav-NomCe" role="tab" aria-controls="nav-NomCe" pagPre="false">
                                                    <i class="fas fa-bolt col-ico col-ico mr-ico-05 disabled"></i> Ejecución Nominas Cerradas
                                                </a>
                                                <a class="nav-item nav-link font-navs " id="nav-NomPeri-tab" data-toggle="tab" href="#nav-NomPer" role="tab" aria-controls="nav-NomPer" pagPre="false">
                                                    <i class="fas fa-pager col-ico col-ico mr-ico-05 disabled"></i> Abrir Periodos
                                                </a>
                                            </div>
                                        </nav>
                                        <div class="tab-content" id="nav-tabContent">
                                            <!-- pantalla de Ejecucion tab-->

                                            <div class="tab-pane fade show  p-4" id="nav-Ejecucion" role="tabpanel" aria-labelledby="nav-Ejecucion-tab">
                                                <div class="row mt-4 ">
                                                    <div id="div-most-alert-data-gen" class="col-md-6 offset-3"></div>
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label for="NombreDe" class="col-sm-4 col-form-label font-labels" id="LanombreDef" style="visibility:visible">
                                                                <i class="fa fa-wpforms mr-2 col-ico"></i>
                                                                Nombre de Definicion:
                                                            </label>
                                                            <div class="col-sm-8">
                                                                <div id='jqxWidget'>
                                                                    <div id="jqxdropdownbutton" class="col-sm-11" style="visibility:visible">
                                                                        <div style="border-color: transparent;" id="TpDefinicion">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label for="anoeje" class="col-sm-4 col-form-label font-labels">
                                                                <i class="fas fa-calendar mr-2 col-ico"></i>
                                                                Año:
                                                            </label>
                                                            <div class="col-sm-8">
                                                                <input placeholder="Año" type="text" id="TbAño" class="form-control form-control-sm text-capitalize" readonly />
                                                            </div>
                                                        </div>
                                                        <div class="=from-group row">
                                                            <div class="custom-control custom-switch font-labels" style="margin-left:40%">
                                                                <input type="checkbox" class="custom-control-input" id="CheckXEmpresa" style="visibility:visible">
                                                                <label class="custom-control-label" for="CheckXEmpresa" id="LaCheckXEmpresa" style="visibility:visible">
                                                                    <i class="fas fa fa-building mr-ico-05"></i>Calculo por empresa
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row" style="margin-top:15px">
                                                            <label for="NombEmpre" class="col-sm-4 col-form-label font-labels" id="NombEmpre" style="visibility:hidden">
                                                                <i class="fas fa-building mr-2 col-ico"></i>
                                                                Empresa:
                                                            </label>
                                                            <div class="col-sm-8">
                                                                <select placeholder="Empresa" tp-select="Empresa" class="form-control form-control-sm" id="EjeEmpresa" style="visibility:hidden">
                                                                    <option value="0">Selecciona</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row hidden">
                                                            <div class="custom-control custom-switch font-labels" style="margin-left:40%">
                                                                <input type="checkbox" class="custom-control-input" id="CheckXempleado" style="visibility:hidden">
                                                                <label class="custom-control-label" for="CheckXempleado" id="LaCheckXEmpleado" style="visibility:hidden">
                                                                    <i class="fa fa-address-card mr-ico-05"></i>
                                                                    Calculo por empleado
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label for="Empleados" class="col-sm-4 col-form-label font-labels" id="Empleadoseje" style="visibility:hidden; margin-top:-5px">
                                                                <i class="fa fa-user-circle-o mr-2 col-ico"></i>
                                                                Empleados:
                                                            </label>
                                                            <div class="col-sm-8">
                                                                <div>
                                                                    <div style='float: left;' id='DropLitEmple'>
                                                                    </div>
                                                                    <div style="float: left; margin-left: 20px; font-size: 13px; font-family: Verdana;" id="dialog">
                                                                        <div id="selectionlog"></div>
                                                                        <div style='max-width: 300px; margin-top: 20px;' id="checkedItemsLog"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label for="TipoperiodoEje" class="col-sm-4 col-form-label font-labels">
                                                                <i class="fas fa-pallet mr-2 col-ico"></i>
                                                                Tipo de periodo:
                                                            </label>
                                                            <div class="col-sm-8">
                                                                <input placeholder="Tipo de periodo" type="text" id="TxbTipoPeriodo" class="form-control form-control-sm text-capitalize" readonly />
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label for="PeridoEje" class="col-sm-4 col-form-label font-labels">
                                                                <i class="fas fa-pager mr-2 col-ico"></i>
                                                                Periodo:
                                                            </label>
                                                            <div class="col-sm-8">
                                                                <select placeholder="Periodo" tp-select="PeridoEje" class="form-control form-control-sm" id="PeridoEje">
                                                                    <option value="0">Selecciona</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-7 col-form-label font-labels"><input type="checkbox" id="ChekEnFirme">Correr Nomina en firme</label>
                                                        </div>
                                                        <div class="form-group row" style="visibility:hidden">
                                                            <label class="col-sm-4 col-form-label font-labels"><input type="checkbox" id="ChNCerrada">Cerrar Nomina</label>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div id="messageNotification" style="margin-top:85%">
                                                                <label for="Lamens" class="col-sm-4 col-form-label font-labels">
                                                                    Ejecución terminada
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div id="messageNotification2" style="margin-top:85%">
                                                                <label for="Lamens" class="col-sm-4 col-form-label font-labels">
                                                                    Ejecución en cola
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div id="timerNotification" style="margin-top:85%">
                                                                <div>
                                                                    Realizando ejecición
                                                                </div>
                                                            </div>
                                                            <div id="jqxLoader"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- pantalla de vista calculo tab-->

                                            <div class="tab-pane fade p-4" id="nav-VistaCalculo" role="tabpanel" aria-labelledby="nav-VisCalculo-tab">

                                                <div class="row mt-6">
                                                    <div id="div-most-alert-data-gen" class="col-md-6 offset-3"></div>
                                                    <div class="col-md-6">
                                                        <div class="form-group row" style="margin-left:2%">
                                                            <label for="DefinicionCal" class="col-sm-4 col-form-label font-labels">
                                                                <i class="fa fa-wpforms mr-2 col-ico"></i>  Definicion:
                                                            </label>
                                                            <div class="col-sm-6">
                                                                <input placeholder="Definicion" type="text" id="DefinicionCal" class="form-control form-control-sm text-capitalize" readonly />
                                                            </div>
                                                        </div>
                                                        <div class="form-group row" style="margin-left:0px">
                                                            <label for="PeriodoCal" class="col-sm-4 col-form-label font-labels">
                                                                <i class="fas fa-pager mr-2 col-ico"></i>
                                                                Periodo:
                                                            </label>
                                                            <div class="col-sm-6">
                                                                <input placeholder="Periodo" type="text" id="PeriodoCal" class="form-control form-control-sm text-capitalize" readonly />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group row" style="margin-left:0%">
                                                            <label for="TipoPeridoCal" class="col-sm-5 col-form-label font-labels">
                                                                <i class="fas fa-pallet mr-2 col-ico"></i>
                                                                Tipo de periodo:
                                                            </label>
                                                            <div class="col-sm-6">
                                                                <input placeholder="Tipo de periodo" type="text" id="TipoPeridoCal" class="form-control form-control-sm text-capitalize" readonly />
                                                            </div>
                                                        </div>
                                                        <div class="form-group row" style="margin-left:0px">
                                                            <label for="EmpresaCal" class="col-sm-4 col-form-label font-labels">
                                                                <i class="fas fa-building mr-2 col-ico"></i>
                                                                Empresa:
                                                            </label>
                                                            <div class="col-sm-6">
                                                                <select placeholder="Empresa" tp-select="EmpresaCal" class="form-control form-control-sm" id="EmpresaCal">
                                                                    <option value="0">Selecciona</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="row mt-4 ">
                                                    <div class="modal-body col-12">
                                                        <div class="">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div id='jqxWidget' style="font-size: 13px; font-family: Verdana; float: left;margin-left:20%">
                                                                        <div id="TbCalculos">
                                                                        </div>
                                                                        <div id="eventslog" style="margin-top: 30px;">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                @*<div class="table-responsive" style="text-align:center">
                                                                            <div id="TbCalculos" class="table-responsive"></div>
                                                                    </div>*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-4">
                                                        <div class="form-group row" style="margin-left:15px">
                                                            <label id="LaTotalPer" for="PercepCal" class="col-sm-6 col-form-label font-labels">
                                                                Total Percepciones:
                                                            </label>
                                                            <div class="col-sm-6">
                                                                <input placeholder="Total Percepciones" type="text" id="PercepCal" class="form-control form-control-sm text-capitalize" readonly />
                                                            </div>
                                                        </div>
                                                        <div class="form-group row" style="margin-left:7px">

                                                            <label id="LaTotDeduc" for="deduCal" class="col-sm-5 col-form-label font-labels">
                                                                Total deducciones:
                                                            </label>
                                                            <div class="col-sm-6">
                                                                <input placeholder="Total Deducciones" type="text" id="DeduCal" class="form-control form-control-sm text-capitalize" readonly />
                                                            </div>
                                                        </div>
                                                        <div class="form-group row" style="margin-left:0px">
                                                            <label id="Latotal" for="PeriodoCal" class="col-sm-5 col-form-label font-labels">
                                                                Total:
                                                            </label>
                                                            <div class="col-sm-7">
                                                                <input placeholder="Total" type="text" id="totalCal" class="form-control form-control-sm text-capitalize" readonly />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row" style="margin-left:80%">
                                                        <div class="col-sm-12">
                                                            <button type="submit" class="btn btn-primary mb-2 " id="btnPdfCal"><span class="far fa-file-pdf mr-2"></span>Caratula PDF </button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>


                                            @*pantalla vista de Calculos Nom*@

                                            <div class="tab-pane fade p-4" id="nav-VistaNomina" role="tabpanel" aria-labelledby="nav-VisNomina-tab">
                                                <div class="row mt-4">
                                                    <div id="div-most-alert-data-gen" class="col-md-6 offset-3"></div>
                                                    <div class="col-md-12">
                                                        <div class="form-group row">
                                                            <div class="form-group row" style="margin-left:25px">
                                                                <label for="EmpresaNom" class="col-sm-5 col-form-label font-labels">
                                                                    <i class="fas fa-building mr-2 col-ico"></i>
                                                                    Empresa:
                                                                </label>
                                                                <div class="col-sm-7">
                                                                    <select placeholder="Empresa" tp-select="EmpresaNom" class="form-control form-control-sm" id="EmpresaNom">
                                                                        <option value="0">Selecciona</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row" style="margin-left:0px">
                                                                <label for="EmpleadoNom" class="col-sm-4 col-form-label font-labels">
                                                                    <i class="fa fa-user-circle-o mr-2 col-ico"></i> Empleados:
                                                                </label>
                                                                <div class="col-sm-5" style="margin-left:-25px">
                                                                    <div id='content'>
                                                                        <input id="jqxInput" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="=from-group row">
                                                                <div class="custom-control custom-switch" style="margin-left:10%;margin-top:-30%">
                                                                    <input type="checkbox" class="custom-control-input" id="CheckRecibo2">
                                                                    <label class="custom-control-label col-form-label font-labels col-sm-5 " for="CheckRecibo2">
                                                                        Recibo2
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group row">
                                                            <div class="form-group row col-md-11" style="margin-left:5%">
                                                                <div id='jqxWidget'>
                                                                    <div id="TbCalculosNom"></div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row col-md-4" style="margin-left:60%">
                                                                <label for="anoeje" class="col-sm-4 col-form-label font-labels" id="LaTotal" style="visibility:hidden">
                                                                    Total:
                                                                </label>
                                                                <div class="col-sm-8">
                                                                    <input placeholder="Total" type="text" id="Tbtotal" class="form-control form-control-sm text-capitalize" readonly style="visibility:hidden" />
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            @*--pantalla de vista Ejecucion Nom Cerradas--*@

                                            <div class="tab-pane fade  p-4" id="nav-NomCe" role="tabpanel" aria-labelledby="nav-NomCe-tab">
                                                <div class="row mt-4 ">
                                                    <div id="div-most-alert-data-gen" class="col-md-6 offset-3"></div>

                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <input type="hidden" value="0" readonly class="form-control form-control-sm" id="clvemp" />
                                                            <label for="NombreDefNoCe" class="col-sm-5 col-form-label font-labels">
                                                                <i class="fa fa-wpforms mr-2 col-ico"></i>
                                                                Nombre de Definicion:
                                                            </label>
                                                            <div class="col-sm-7">
                                                                <div id='jqxWidget'>
                                                                    <div id="jqxdropdownbutton2" class="col-sm-11">
                                                                        <div style="border-color: transparent;" id="TpDefinicion2">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label for="TbAñoNoCe" class="col-sm-5 col-form-label font-labels">
                                                                <i class="fas fa-calendar mr-2 col-ico"></i>
                                                                Año:
                                                            </label>
                                                            <div class="col-sm-7">
                                                                <input placeholder="Año" type="text" id="TbAñoNoCe" class="form-control form-control-sm text-capitalize" readonly />
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label for="TipoPeriodoNoCe" class="col-sm-5 col-form-label font-labels">
                                                                <i class="fas fa-pallet mr-2 col-ico"></i>
                                                                Tipo de periodo:
                                                            </label>
                                                            <div class="col-sm-7">
                                                                <input placeholder="Tipo de periodo" type="text" id="TipoPeriodoNoCe" class="form-control form-control-sm text-capitalize" readonly />
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label for="PeridoEjeNomCe" class="col-sm-4 col-form-label font-labels">
                                                                <i class="fas fa-pager mr-2 col-ico"></i>
                                                                Periodo:
                                                            </label>
                                                            <div class="col-sm-8">
                                                                <select placeholder="Periodo" tp-select="PeridoEjeNomCe" class="form-control form-control-sm" id="PeridoEjeNomCe">
                                                                    <option value="0">Selecciona</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label id="LaEmpresaNoCe" for="EmpresaNoCe" class="col-sm-4 col-form-label font-labels" style="visibility:hidden">
                                                                Empresa:
                                                            </label>
                                                            <div class="col-sm-8">
                                                                <select placeholder="Empresa" tp-select="EmpresaNoCe" class="form-control form-control-sm" id="EmpresaNoCe" style="visibility:hidden">
                                                                    <option value="0">Selecciona</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*//// tabla*@
                                                    <div class="d-none" id="Block_calculos">
                                                        <div class="col-12">
                                                            <div id='jqxWidget' style="font-size: 13px; font-family: Verdana; float: left;margin-left:20%">
                                                                <div id="TbCalculos2">
                                                                </div>
                                                                <div id="eventslog" style="margin-top: 30px;">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group row" style="margin-left:15px">
                                                                <label id="LaTotalPerNoCe" for="PercepCalNomCe" class="col-sm-6 col-form-label font-labels" style="visibility:hidden">
                                                                    Total Percepciones:
                                                                </label>
                                                                <div class="col-sm-6">
                                                                    <input placeholder="Total Percepciones" type="text" id="PercepCalNomCe" class="form-control form-control-sm text-capitalize" readonly style="visibility:hidden" />
                                                                </div>
                                                            </div>
                                                            <div class="form-group row" style="margin-left:0px">

                                                                <label id="LadeduCalNomCe" for="deduCalNomCe" class="col-sm-5 col-form-label font-labels" style="visibility:hidden">
                                                                    Total deducciones:
                                                                </label>
                                                                <div class="col-sm-6">
                                                                    <input placeholder="Total Deducciones" type="text" id="deduCalNomCe" class="form-control form-control-sm text-capitalize" readonly style="visibility:hidden" />
                                                                </div>
                                                            </div>
                                                            <div class="form-group row" style="margin-left:0px">
                                                                <label id="LaTotalNomCe" for="TotalNomCe" class="col-sm-5 col-form-label font-labels" style="visibility:hidden">
                                                                    Total:
                                                                </label>
                                                                <div class="col-sm-7">
                                                                    <input placeholder="Total" type="text" id="TotalNomCe" class="form-control form-control-sm text-capitalize" readonly style="visibility:hidden" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <button type="submit" class="btn btn-primary mb-2 " id="btnPdfCal2" style="margin-left:80%"><span class="far fa-file-pdf mr-2"></span>Caratula PDF </button>
                                                        </div>

                                                    </div>


                                                    <div id='jqxWidget' style="float: left;">
                                                        <div id='jqxExpander' style="visibility:hidden">
                                                            <div>
                                                                Vista de calculos
                                                            </div>
                                                            <div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            @*--pantalla Abrir periodo--*@

                                            <div class="tab-pane fade  p-4" id="nav-NomPer" role="tabpanel" aria-labelledby="nav-NomPeri-tab">
                                                <center>
                                                    <div class="row mt-4 ">
                                                        <div class="col-md-12">
                                                            <div class="row mt-6">
                                                                <div class="col-md-6">
                                                                    <div class="form-group row" style="margin-left:2%">
                                                                        <label for="LaEmpresa" class="col-sm-4 col-form-label font-labels">
                                                                            <i class="fas fa-building mr-2 col-ico"></i>
                                                                            Empresa:
                                                                        </label>
                                                                        <div class="col-sm-7" style="margin-left:-2%">
                                                                            <select placeholder="Empresa" tp-select="EmpresaNomPer" class="form-control form-control-sm" id="DropEmpresaPeri">
                                                                                <option value="0">Selecciona</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row" style="margin-left:0%">
                                                                        <label for="anoNom" class="col-sm-4 col-form-label font-labels">
                                                                            <i class="fas fa-calendar mr-2 col-ico"></i>
                                                                            Año:
                                                                        </label>
                                                                        <div class="col-sm-7" style="margin-left:-2%">
                                                                            <input placeholder="Año" maxlength="4" tvvisible="false" type="text" id="TxtAnioPer" class="form-control form-control-sm text-capitalize" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">

                                                                    <div class="form-group row">
                                                                        <label for="TipoPerido" class="col-sm-4 col-form-label font-labels">
                                                                            <i class="fas fa-pallet mr-2 col-ico"></i>
                                                                            Tipo de Periodo:
                                                                        </label>
                                                                        <div class="col-sm-6" style="margin-left:-2%">
                                                                            <select placeholder="Tipo de Periodo" tp-select="TipoPerido" class="form-control form-control-sm" id="DropTipodePerdioPer">
                                                                                <option value="0">Selecciona</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="peridoNom" class="col-sm-4 col-form-label font-labels">
                                                                            <i class="fas fa-pager mr-2 col-ico"></i>
                                                                            Perido:
                                                                        </label>
                                                                        <div class="col-sm-6" style="margin-left:-2%">
                                                                            <select placeholder="Perido" tp-select="PeridoNom" class="form-control form-control-sm" id="DropPeridoPer">
                                                                                <option value="0">Selecciona</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group row">
                                                                        <div class="col-sm-6" style="margin-left:30%">
                                                                            <button type="submit" class="btn btn-primary mb-2 " id="btnOpenPeriodo"><span class="fas fa-book-open mr-2"></span>Abrir periodo </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </center>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </center>
                </div>
                @*Botones de flotantes*@
                <div>

                    <button class="flotante1 btn btn-primary btn-circle shadow" data-toggle="modal" title="Guardar" id="btnFloGuardar" type="button" value="1" style="visibility:hidden">
                        <i class="fa fa-floppy-o"></i>
                    </button>

                    <button class="flotante2 btn btn-primary btn-circle shadow" title="Limpiar todos los campos" id="btnFloLimpiar" type="button" value="1" style="visibility:visible">
                        <i class="fas fa-eraser"></i>
                    </button>

                    <button class="flotante1 btn btn-primary btn-circle shadow" title="Ejecutar" id="btnFloEjecutar" data-toggle="modal" type="button" btvisible="true" value="1" style="visibility:visible">
                        <i class="far fa-caret-square-right"></i>
                    </button>
                    <button class="flotante2 btn-primary btn-circle shadow" title="Buscar" id="btnFloBuscar" type="button" btvisible="true" style="visibility:hidden">
                        <i class="fas fa-search"></i>
                    </button>
                    <button class="flotante1 btn-primary btn-circle shadow" title="Actualizar" id="btnFloActualiza" type="button" btvisible="true" style="visibility:hidden">
                        <i class="fas fa-redo"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript" src="~/Scripts/Nomoper/OperNomEjecucion.js?n=2"></script>
<script type="text/javascript" src="~/Scripts/jqxGrid/jqwidgets/jspdf.min.js"></script>
<script type="text/javascript" src="~/Scripts/jqxGrid/jqwidgets/jqx-all.js"></script>
<script type="text/javascript" src="~/Scripts/jqxGrid/jqwidgets/jqxcore.js"></script>
<script type="text/javascript" src="~/Scripts/jqxGrid/jqwidgets/jqxnotification.js"></script>
<script type="text/javascript" src="~/Scripts/jqxGrid/jqwidgets/jqxdropdownbutton.js"></script>
<script type="text/javascript" src="~/Scripts/jqxGrid/jqwidgets/jqxswitchbutton.js"></script>
<script type="text/javascript" src="~/Scripts/jqxGrid/jqwidgets/jqxloader.js"></script>
<script type="text/javascript" src="~/Scripts/jqxGrid/jqwidgets/jqxexpander.js"></script>
<script type="text/javascript" src="~/Scripts/jqxGrid/jqwidgets/jqxdata.js"></script>
<script type="text/javascript" src="~/Scripts/jqxGrid/jqwidgets/jqxbuttons.js"></script>
<script type="text/javascript" src="~/Scripts/jqxGrid/jqwidgets/jqxscrollbar.js"></script>
<script type="text/javascript" src="~/Scripts/jqxGrid/jqwidgets/jqxmenu.js"></script>
<script src="~/Scripts/jqxGrid/jqwidgets/jqxgrid.filter.js"></script>
<script src="~/Scripts/jqxGrid/jqwidgets/jqxlistbox.js"></script>
<script src="~/Scripts/jqxGrid/jqwidgets/jqxdropdownlist.js"></script>
<script src="~/Scripts/jqxGrid/jqwidgets/jqxcheckbox.js"></script>
<script src="~/Scripts/jqxGrid/jqwidgets/jqxwindow.js"></script>
<script src="~/Scripts/jqxGrid/jqwidgets/jqxtabs.js"></script>
<script src="~/Scripts/jqxGrid/jqwidgets/jqxgrid.sort.js"></script>
<script src="~/Scripts/jqxGrid/jqwidgets/jqxpanel.js"></script>
<script src="~/Scripts/jqxGrid/jqwidgets/globalization/globalize.js"></script>
<script src="~/Scripts/jqxGrid/jqwidgets/jqxcalendar.js"></script>
<script src="~/Scripts/jqxGrid/jqwidgets/jqxdatetimeinput.js"></script>
<script src="~/Scripts/jqxGrid/jqwidgets/jqxdatatable.js"></script>

<script src="~/Scripts/jqxGrid/jqwidgets/jqxradiobutton.js"></script>
<script src="~/Scripts/jqxGrid/jqwidgets/jqxinput.js"></script>
<script src="~/Scripts/jqxGrid/jqwidgets/generatedata.js"></script>
<script src="~/Scripts/jqxGrid/jqwidgets/jqxexpander.js"></script>

