<div class="container bg-white">
    <div class="tab-pane fade show p-4 row table-responsive" id="navXMLS" role="tabpanel" aria-labelledby="nav-Xml-tab" arial-or>
        <nav>
            <div class="nav nav-tabs " id="nav-tab" role="tablist">
                <a class="nav-item nav-link  font-navs  " id="nav-xmlnor-tab" data-toggle="tab" href="#nav-XmlNo" role="tab" aria-controls="nav-Xml-tab">
                    <i class="far fa-file-code col-ico mr-ico-05"></i> Horario Dirio
                </a>
                <a class="nav-item nav-link font-navs" id="nav-xmlFi-tab" data-toggle="tab" href="#nav-XmlFi" role="tab" aria-controls="nav-Xml-tab" pagPre="false">
                    <i class="far fa-file-code col-ico mr-ico-05 "></i> Horario Semanal
                </a>
            </div>
        </nav>
        @*<div class="tab-content" id="nav-tabContent">
             pantalla de Xml tab

            <div class="tab-pane fade show  p-4" id="nav-XmlNo" role="tabpanel" aria-labelledby="nav-XMLS">
                <div class="row mt-4 ">
                    <div id="div-most-alert-data-gen" class="col-md-8 offset-3"></div>
                </div>
                <div class="col-md-10 offset-2" style="margin-left:10%">
                    <div class="form-group text-center rounded shadow p-3 border-left-primary">
                        <div class="col-md-12">
                            <div class="form-group row col-md-6" style="margin-left:2%">
                            </div>
                            <div class="col-md-12">
                                <hr />
                            </div>

                            <div class="row mt-6">
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-6">
                                 
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
            </div>


             pantalla de vista xml finiquito tab

            <div class="tab-pane fade p-4" id="nav-XmlFi" role="tabpanel" aria-labelledby="nav-XMLS">
                <div class="row mt-4 ">
                    <div id="div-most-alert-data-gen" class="col-md-8 offset-3"></div>
                </div>
                <div class="col-md-10 offset-2" style="margin-left:10%">
                    <div class="form-group text-center rounded shadow p-3 border-left-primary">
                        <div class="col-md-12">
                            <div class="form-group row col-md-6" style="margin-left:2%">
                            </div>
                            <div class="col-md-12">
                                <hr />
                            </div>
                            <div class="row mt-6">
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
            </div>

        </div>*@

    </div>
</div>