@*<link rel="stylesheet" href="~/Content/datatables-new/sb-admin-2.min.css" />*@
<link rel="stylesheet" href="~/Content/datatables-new/stylesTables.css" />
<link rel="stylesheet" href="~/Content/datatables-new/dataTables.bootstrap4.min.css" />
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<script type="text/javascript" src="~/Scripts/datatables-new/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/Scripts/datatables-new/dataTables.bootstrap4.min.js"></script>

<div class="container-fluid mb-5">
    <div>
        <button class="flotante-clear btn-circle btn btn-danger" title="Restablecer" id="btn-clear-params-reports">
            <i class="fas fa-backspace"></i>
        </button>
        <button type="button" data-toggle="modal" data-target="#searchGroupBusiness" class="flotante0 btn btn-primary btn-circle shadow" title="Grupos de empresas" id="btn-modal-search-centr-cost">
            <i class="fas fa-building"></i>
        </button>
    </div>
    <div class="row">
        <div class="col-sm-10 offset-1">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active font-navs" id="nav-reporte-tab" data-toggle="tab" href="#nav-reporte" role="tab" aria-controls="nav-reporte" aria-selected="true">
                        <i class="fas fa-book mr-2"></i> Reportes
                    </a>
                </div>
            </nav>
            <div class="tab-content bg-white" id="nav-tabContent">
                <div class="tab-pane fade show active p-3" id="nav-reporte" role="tabpanel" aria-labelledby="nav-reporte-tab">
                    <div class="tab-content" id="nav-tabContent1">
                        <div class="tab-pane fade show active p-3" id="nav-reporte" role="tabpanel" aria-labelledby="nav-reporte-tab">
                            <div class="row mt-2">
                                <div id="div-most-alert-data-reporte" class="col-md-6 offset-3"></div>
                                <div class="col-md-12 mb-4">
                                    <div class="text-left">
                                        <h6 class="col-ico font-navs">
                                            <b> <i class="fas fa-clipboard-check fa-sm mr-ico-05"></i> Completa los parametros </b>
                                        </h6>
                                        <hr />
                                    </div>
                                </div>
                                <div class="col-md-8 offset-2">
                                    <div class="form-group text-center rounded shadow p-3 border-left-primary border-right-primary">
                                        <label class="col-form-label" style="font-size: 14px;">
                                            <i class="fas fa-pallet mr-2 col-ico"></i>
                                            <b class="col-ico">Tipo periodo:</b> <span id="typeperactnomemp" class="font-weight-bold"></span>
                                        </label>
                                        <label class="col-form-label ml-2" style="font-size: 14px;">
                                            <i class="fas fa-pager mr-2 col-ico"></i>
                                            <b class="col-ico"> Periodo:</b> <span id="peractnomemp" class="font-weight-bold"></span>
                                        </label>
                                        <label class="col-form-label ml-2" style="font-size: 14px;">
                                            <i class="fas fa-calendar mr-2 col-ico"></i>
                                            <b class="col-ico">Fechas:</b> <span id="fechaspernomemp" class="font-weight-bold"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-10 offset-1">
                                    <div class="row shadow rounded p-3 border-left-primary border-right-primary">
                                        <div class="col-md-4 mt-3">
                                            <div class="form-group text-center">
                                                <label class="col-form-label font-labels col-ico">
                                                    Generar reporte por:
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mt-3">
                                            <div class="form-check text-center">
                                                <input class="form-check-input" type="radio" name="optionReportGenerate" id="oneRadioBusiness" value="0">
                                                <label class="form-check-label font-labels col-ico" for="exampleRadios1">
                                                    Empresa.
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mt-3">
                                            <div class="form-check text-center">
                                                <input class="form-check-input" type="radio" name="optionReportGenerate" id="groupRadioBusiness" value="1">
                                                <label class="form-check-label font-labels col-ico" for="exampleRadios1">
                                                    Grupo de empresas.
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-5 offset-1">
                                            <div class="form-group">
                                                <label class="col-form-label font-labels col-ico" for="selectOneBusiness">
                                                    Empresa
                                                </label>
                                                <select class="form-control form-control-sm" id="selectOneBusiness">
                                                    <option value="none">Selecciona</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label class="col-form-label font-labels col-ico" for="selectOneBusiness">
                                                        Grupo de empresas
                                                    </label>
                                                    <select class="form-control form-control-sm" id="selectGroupBusiness">
                                                        <option value="none">Selecciona</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mt-4 offset-1">
                                            <div class="form-group text-center">
                                                <label class="col-form-label font-labels col-ico"><i class="fas fa-file mr-2 col-ico"></i> Tipo de reporte</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mt-4">
                                            <div class="form-group">
                                                <select class="form-control form-control-sm" id="typeReportselect">
                                                    <option value="0">Selecciona</option>
                                                    <option value="ABONO">RELACION ABONOS A CUENTA CHEQUES DETALLE</option>
                                                    <option value="ABOTOTAL">RELACION ABONOS A CUENTA CHEQUES TOTALES</option>
                                                    <option value="ACUMATRIX">ACUMULADOS CRUZADOS</option>
                                                    <option value="ACUM_NOM">ACUMULADOS POR NOMINA Y PERIODO</option>
                                                    <option value="ALTAEMP">REPORTE DE ALTAS EN EL PERIODO</option>
                                                    <option value="BAJA_FEC">BAJAS POR RANGO DE FECHAS</option>
                                                    <option value="CAT_EMP_AC">EMPLEADOS ACTIVOS (CON SUELDO)</option>
                                                    <option value="CATEMPACSS">EMPLEADOS ACTIVOS (SIN SUELDO)</option>
                                                    <option value="RECIRENG">DETALLE DE RENGLONES DE NOMINA POR EMPRESA (AÑO ACTUAL)</option>
                                                    <option value="RECIRENG_">DETALLE DE RENGLONES DE NOMINA POR EMPRESA (AÑO ANTERIOR)</option>
                                                    <option value="RECINOMI">RECIBOS DE NOMINA</option>
                                                    <option value="RECMATRIX">RECIBOS CRUZADOS</option>
                                                    <option value="TOTACUMS">TOTAL DE ACUMULADOS POR EMPRESA</option>
                                                    <option value="ESTRUCTURA">REPORTE ESTRUCTURA</option>
                                                    <option value="SABANA">HOJA DE CALCULO</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10 mt-3 offset-1" id="contentParameters"></div>
                                <div class="col-md-6 mt-3 offset-3" id="contentBtnGenerate"></div>
                                <div class="col-md-4 mt-3 offset-4" id="contentGenerateRep"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- VENTANA MODAL DE REGISTRO DE GRUPOS DE EMPRESAS -->
<div class="modal fade bg-gradient" data-backdrop="static" data-keyboard="false" id="searchGroupBusiness" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable rounded" role="document">
        <div class="modal-content border-left-primary">
            <div class="modal-header">
                <h5 class="modal-title" id="labelSGrpBusiness"> <i class="fas fa-building mr-2 col-ico"></i> Grupos de empresas </h5>
                <button id="icoCloseSearchGroupBusiness" type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="table-responsive animated fadeIn">
                        <table class="table table-bordered" id="dataTable" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Nombre grupo</th>
                                    <th>Accion</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Nombre grupo</th>
                                    <th>Accion</th>
                                </tr>
                            </tfoot>
                            <tbody id="data-groupbusiness">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-success btn-sm btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span class="text">Agregar nuevo</span>
                </button>*@
                <button type="button" data-dismiss="modal" class="btn btn-danger btn-sm btn-icon-split" id="btnCloseSearchGroupBusiness">
                    <span class="icon text-white-50">
                        <i class="fas fa-times"></i>
                    </span>
                    <span class="text">Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>


<!-- VENTANA MODAL DE VISUALIZACION DE EMPRESAS POR GRUPO -->
<div class="modal fade bg-gradient" data-backdrop="static" data-keyboard="false" id="viewBusinessGroup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable rounded" role="document">
        <div class="modal-content border-left-primary">
            <div class="modal-header">
                <h5 class="modal-title" id="labelVGrpBusiness"> <i class="fas fa-building mr-2 col-ico"></i> Empresas del grupo: <span id="nameBusinessGroup"></span> </h5>
                <button id="icoCloseBusinessGroup" type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row" id="containerBusinessGroup">                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger btn-sm btn-icon-split" id="btnCloseBusinessGroup">
                    <span class="icon text-white-50">
                        <i class="fas fa-times"></i>
                    </span>
                    <span class="text">Cerrar</span>
                </button>
                @*<button type="button" class="btn btn-sm shadow btn-danger" data-dismiss="modal" id="btnCloseSearchGroupBusiness"> <i class="fas fa-times mr-2"></i> Cerrar</button>*@
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/main/Reportes/main.js"></script>