<div class="container-fluid mb-5">

    <div class="row">
        <div class="col-sm-10 offset-1">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active font-navs" id="nav-reporte-tab" data-toggle="tab" href="#nav-reporte" role="tab" aria-controls="nav-reporte" aria-selected="true">
                        <i class="fas fa-book mr-2"></i> Reportes
                    </a>
                </div>
            </nav>
            <div class="tab-content bg-white" id="nav-tabContent">
                <div class="tab-pane fade show active p-3" id="nav-reporte" role="tabpanel" aria-labelledby="nav-reporte-tab">
                    <div class="tab-content" id="nav-tabContent1">
                        <div class="tab-pane fade show active p-3" id="nav-reporte" role="tabpanel" aria-labelledby="nav-reporte-tab">
                            <div class="row mt-2">
                                <div id="div-most-alert-data-reporte" class="col-md-6 offset-3"></div>
                                <div class="col-md-12 mb-4">
                                    <div class="text-left">
                                        <h6 class="col-ico font-navs">
                                            <b> <i class="fas fa-clipboard-check fa-sm mr-ico-05"></i> Completa los parametros </b>
                                        </h6>
                                        <hr />
                                    </div>
                                </div>
                                <div class="col-md-8 offset-2">
                                    <div class="form-group text-center rounded shadow p-3">
                                        <label class="col-form-label" style="font-size: 14px;">
                                            <i class="fas fa-pallet mr-2 col-ico"></i>
                                            Tipo periodo: <span id="typeperactnomemp" class="font-weight-bold"></span>
                                        </label>
                                        <label class="col-form-label ml-2" style="font-size: 14px;">
                                            <i class="fas fa-pager mr-2 col-ico"></i>
                                            Periodo: <span id="peractnomemp" class="font-weight-bold"></span>
                                        </label>
                                        <label class="col-form-label ml-2" style="font-size: 14px;">
                                            <i class="fas fa-calendar mr-2 col-ico"></i>
                                            Fechas: <span id="fechaspernomemp" class="font-weight-bold"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-10 offset-1">
                                    <div class="row shadow rounded p-3">
                                        <div class="col-md-4 mt-3 offset-1">
                                            <div class="form-group text-center">
                                                <label class="col-form-label font-labels"><i class="fas fa-file mr-2 col-ico"></i> Tipo de reporte</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mt-3">
                                            <div class="form-group">
                                                <select class="form-control form-control-sm" id="typeReportselect">
                                                    <option value="0">Selecciona</option>
                                                    <option value="ABONO">RELACION ABONOS A CUENTA CHEQUES DETALLE</option>
                                                    <option value="ABOTOTAL">RELACION ABONOS A CUENTA CHEQUES TOTALES</option>
                                                    <option value="ACUMATRIX">ACUMULADOS CRUZADOS</option>
                                                    <option value="ACUM_NOM">ACUMULADOS POR NOMINA Y PERIODO</option>
                                                    <option value="ALTAEMP">REPORTE DE ALTAS EN EL PERIODO</option>
                                                    <option value="BAJA_FEC">BAJAS POR RANGO DE FECHAS</option>
                                                    <option value="CAT_EMP_AC">CATALOGO DE EMPLEADOS ACTIVOS (CON SUELDO)</option>
                                                    <option value="CATEMPACSS">CATALOGO DE EMPLEADOS ACTIVOS (SIN SUELDO)</option>
                                                    <option value="RECIRENG">DETALLE DE RENGLONES DE NOMINA POR EMPRESA (AÑO ACTUAL)</option>
                                                    <option value="RECIRENG_">DETALLE DE RENGLONES DE NOMINA POR EMPRESA (AÑO ANTERIOR)</option>
                                                    <option value="RECINOMI">RECIBOS DE NOMINA</option>
                                                    <option value="RECMATRIX">RECIBOS CRUZADOS</option>
                                                    <option value="TOTACUMS">TOTAL DE ACUMULADOS POR EMPRESA</option>
                                                    <option value="ESTRUCTURA">REPORTE ESTRUCTURA</option>
                                                    <option value="SABANA">REPORTE DE NÓMINA</option>
                                                </select>
                                            </div>
                                        </div>
                                        @*<div class="col-md-4 mt-3">
                    <div class="form-group text-center">
                        <button class="btn btn-outline-primary btn-block btn-sm" id="btnContinueReport">
                            <i class="fas fa-check-circle mr-2"></i> Continuar
                        </button>
                    </div>
                </div>*@
                                    </div>
                                </div>
                                <div class="col-md-10 mt-3 offset-1" id="contentParameters"></div>
                                <div class="col-md-6 mt-3 offset-3" id="contentBtnGenerate"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/main/Reportes/main.js"></script>