<div class="container center bg-white">
    <label class="font-button">Tabla de Incidencias Programadas</label>
    <table class="table table-sm font-labels">
        <thead class="font-labels">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre Empleado</th>
                <th scope="col">Empleado ID</th>
                <th scope="col">Concepto</th>
                <th scope="col">Renglon</th>
                <th scope="col">Cantidad</th>
                <th scope="col">N. Dias</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody id="tabIncProg" class="font-labels">
        </tbody>
    </table>
</div>
<script src="~/Scripts/main/IncidenciasProg.js" type="text/javascript"></script>