<div class="container center">
    <label class="font-button">Tabla de Incidencias Programadas</label>
    <table class="table table-sm">
        <thead class="font-labels">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Empleado</th>
                <th scope="col">Concepto</th>
                <th scope="col">Renglon</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Plazos</th>
                <th scope="col">Leyenda</th>
                <th scope="col">Referencia</th>
                <th scope="col">Fecha Aplicación</th>
                <th scope="col">Periodo</th>
            </tr>
        </thead>
        <tbody id="tabIncProg">
        </tbody>
    </table>
</div>
<script src="~/Scripts/main/IncidenciasProg.js" type="text/javascript"></script>