<div class="container bg-white">

    @*Botones Flotantes*@
    <div>
      
        <button class="flotante rounded btn btn-outline-danger" title="Limpiar todos los campos" id="btnFloLimpiar" type="button" btvisible="true" value="1">
            <i class="fas fa-eraser"></i>
        </button>
    </div>

    <div>
        <div class="text-center">
            <h5 class="col-ico">
                <b>
                    Tibrados desde XML
                </b>
            </h5>
            <hr />
        </div>

    </div>
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="form-group row" style="margin-left:2%">
                    <label for="anoxml" class="col-sm-3 col-form-label font-labels">
                        Año:
                    </label>
                    <div class="col-sm-4">
                        <input placeholder="Año" maxlength="4" tvvisible="false" type="text" id="anoxml" class="form-control form-control-sm text-capitalize" />
                    </div>
                </div>
                <div class="form-group row" style="margin-left:2%">
                    <label for="TipoPeriodo" class="col-sm-3 col-form-label font-labels">
                        Tipo de periodo:
                    </label>
                    <div class="col-sm-4">
                        <input placeholder="Tipo de periodo" maxlength="2" tvvisible="false" type="text" id="TipoPeriodoxml" class="form-control form-control-sm text-capitalize" />
                    </div>
                </div>
                <div class="form-group row" style="margin-left:2%">
                    <label for="TipoPeriodo" class="col-sm-3 col-form-label font-labels">
                        Periodo:
                    </label>
                    <div class="col-sm-4">
                        <input placeholder="Periodo" maxlength="2" tvvisible="false" type="text" id="Periodoxml" class="form-control form-control-sm text-capitalize" />
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label for="Versionxml" class="col-sm-3 col-form-label font-labels">
                        Versión CFDI:
                    </label>
                    <div class="col-sm-4" style="margin-left:-5%">
                        <input placeholder="Versión" maxlength="2" tvvisible="false" type="text" id="versionxml" class="form-control form-control-sm text-capitalize" />
                    </div>
                </div>
                <div class="form-group row col-md-8">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="fileUpload" lang="es-mx">
                        <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                    </div>
                </div>
                <div class="form-group row col-md-8" style="margin-left:40%">
                    <button type="submit" class="btn btn-primary mb-2 " id="btnTiembrar"><span class="fa fa-arrow-circle-o-up"></span> Timbrar </button>
                </div>
           
                
            </div>
        </div>  
    </div>


</div>
<script src="~/Scripts/main/Timbradosxml.js"></script>
