@{
    ViewBag.Title = "IPSNet";
}

<link href="~/Content/styles/home.css" rel="stylesheet" />
<div class="NavMenu">
</div>
<div id="bodySubmenus" class="pt-4"></div>
<div class="modal fade" id="modalBtns" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Selecciona la empresa</h4>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body row">
                <div class="col-12 mb-3">
                    <input type="text" name="inputSearchEmpleados" id="inputSearchEmpleados" placeholder="Escriba el nombre de la empresa" class="form-control invisible" />
                    <div id="resultSearchEmpleados" name="resultSearchEmpleados" class="list-group invisible"></div>
                </div>
                <div class="col-md-12" id="mbody"></div>
            </div>
            <div class="modal-footer">
                <samll class=" text-muted font-italic">*Es necesario elegir una empresa para iniciar</samll>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        seeview = (data) => {
            let timerInterval
            Swal.fire({
                title: 'Cargando...',
                html: 'Un segundo por favor!',
                timer: 2500,
                timerProgressBar: true,
                onBeforeOpen: () => {
                    $("#bodySubmenus").load(data);
                    Swal.showLoading();
                }
            });
        }
        change = () => {
            $("#bodySubmenus").empty();
        }
        btnsEmpresas = (id, nombre) => {

            $.ajax({
                url: "../Empresas/DefineEmpresa",
                type: "POST",
                data: JSON.stringify({ IdEmpresa: id, NombreEmpresa: nombre }),
                contentType: "application/json; charset=utf-8",
                success: (data) => {
                    console.log(data);
                    if (data[0] != "0") {
                        $.ajax({
                            url: "../Empresas/DefinePeriodoActual",
                            type: "POST",
                            data: JSON.stringify({
                                IdPeriodo: data[4],
                                Fecha_inicio: data[6],
                                Fecha_fin: data[7]
                            }),
                            contentType: "application/json; charset=utf-8",
                            success: (dat) => {
                                document.getElementById("btnNameEmpresaSelected").innerHTML = nombre;
                                document.getElementById("lblPeriodoId").innerHTML = data[4];
                                document.getElementById("lblRangoPeriodo").innerHTML = "&nbsp;&nbsp;-&nbsp;&nbsp;" + data[6] + " - " + data[7];
                                $("#bodySubmenus").empty();
                                $("#modalBtns").modal('hide');
                            }
                        });
                    } else {
                        document.getElementById("btnNameEmpresaSelected").innerHTML = nombre;
                        document.getElementById("lblPeriodoId").innerHTML = "Sin Periodo";
                        $("#bodySubmenus").empty();
                        $("#modalBtns").modal('hide');
                        Swal.fire({
                            icon: 'warning',
                            confirmButtonText: "Aceptar",
                            html: '<h1 class="text-danger font-weight-bold col-md-12">Aviso!</h1><p class="font-weight-bold">La empresa no tiene periodos abiertos<br><small class="text-justify text-muted">*Para poder trabajar de manera normal en todos los modulos genere mas periodos e ingrese nuevamente al sistema</small><small class="text-justify text-muted"></small></p>'
                        });
                    }


                }
            });

        }

        $("#modalBtns").modal({
            keyboard: false,
            backdrop: "static",
            focus: true
        });
        $("#btn-cambiar-empresas").on("click", function () {
            loadBtnsEmpresas();
            $("#modalBtns").modal({
                keyboard: false,
                backdrop: "static",
                focus: true
            });
        });
        

        MostrarBtnsEmpresa = (idE) => {
            var txtIdEmpresa = { "IdEmpresa": idE };
            $.ajax({
                url: "../Empresas/SearchEmpresas",
                type: "POST",
                data: JSON.stringify(txtIdEmpresa),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: (data) => {
                    var idEmp;
                    $("#resultSearchEmpleados").empty();
                    for (var i = 0; i < data.length; i++) {
                        $("#nomEmp").empty(); $("#nomEmp").append(data[i]["NombreEmpleado"] + " " + data[i]["ApellidosEmpleado"]);
                        $("#puesto_emp").empty(); $("#puesto_emp").append(data[i]["Puesto"]);
                        $("#antig_emp").empty(); $("#antig_emp").append(data[i]["FechaIngreso"].substring(0, 10));
                        $("#vacacionesCollapse").collapse("show");
                        idEmp = data[i]["IdEmpleado"];
                    }
                    CargarTabPeriodos(data[0].IdEmpleado);
                    document.getElementById("inputSearchEmpleados").value = '';
                }
            });
        }
        loadBtnsEmpresas = () => {

            $.ajax({
                url: "../Empresas/LoadEmpresas",
                type: "POST",
                data: {},
                contentType: "application/json; charset=utf-8",
                success: (data) => {
                    $("#mbody").html(data);
                }
            });

        }

        loadBtnsEmpresas();
        $("#modalBtns").modal('show');
    });
</script>
<script src="~/Scripts/main/startMenu.js"></script>
<script src="~/Scripts/main/Empresas.js"></script>
<script type="text/javascript">

    var idleTime = 0; $(document).ready(function () {
        //Increment the idle time counter every minute.
        var idleInterval = setInterval(timerIncrement, 60000);
        // 1 minute

        //Zero the idle timer on mouse movement.
        $(this).mousemove(function () {
            idleTime = 0;
        });

        $(this).keypress(function () {
            idleTime = 0;
        });
    });

    timerIncrement = () => {
        idleTime = idleTime + 1;
        if (idleTime == 120) { // 2 horas
            Swal.fire({
                title: 'Tu sesión a terminado!',
                text: "Tienes que iniciar nuevamente.",
                icon: 'warning',
                confirmButtonColor: '#3085d6',
                backdrop: true,
                allowEscapeKey: false,
                allowOutsideClick: false,
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar'
            }).then((result) => {
                if (result.value) {
                    window.location.href = "../Login/Logout";
                }
            });
        }
    }
</script>